{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'attraction/assets/apple-icon-180x180.png' %}">
  <link href="{% static 'attraction/assets/favicon.ico' %}" rel="icon">

  <title>Title page</title>  

  <link href="{% static 'attraction/main.3f6952e4.css' %}" rel="stylesheet">
  <style>th,td {padding:1px; text-align: center;}</style>

  <link rel="stylesheet" type="text/css" href="{% static 'attraction/themes/default/easyui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'attraction/themes/icon.css' %}">

  <script type="text/javascript" src="{% static 'attraction/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'attraction/jquery.easyui.min.js' %}"></script> 
  
  <script type="text/javascript">

    function show_hide_covid_table() {
      if($("#covid_table").css("display") == "none"){
       
        $("#covid_table").show();
      }else{
       
        $("#covid_table").hide();
      }
    }

    function show_hide_covid_bar() {
      if($("#covid_bar").css("display") == "none"){
       
        $("#covid_bar").show();
      }else{
       
        $("#covid_bar").hide();
      }
    }


    function show_hide_vaccine_table() {
      if($("#vaccine_table").css("display") == "none"){
       
        $("#vaccine_table").show();
      }else{
       
        $("#vaccine_table").hide();
      }
    }

    function show_hide_vaccine_bar() {
      if($("#vaccine_bar").css("display") == "none"){
       
        $("#vaccine_bar").show();
      }else{
       
        $("#vaccine_bar").hide();
      }
    }

    
    function cAll(){
      if($("#checkAll").is(":checked")){
        $("input[type=checkbox]").prop("checked", true);
      }
      else{
        $("input[type=checkbox]").prop("checked", false);
      }
    }

    function select_workclode(){
      
      var idx
      for (idx=1; idx < 20; idx++){

        $("#tr_" + idx).css("display", "none");
        console.log(idx)
      }

      $("input[name=wcb_checkbox]:checked").each(function(){ 
        var country_num = $(this).val();

        $("#tr_"+ country_num).css("display", "");
        console.log(country_num)
      
      });

    }

  </script>


<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="/" title="">01 : Home</a></li>
          <li><a href="/attraction1/" title="">02 : Analysis Vader</a></li>
          <li><a href="/attraction2/" title="">03 : Euroup Trip Info</a></li>

        </ul> 
      </div>  
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">Analysis Vader</h1>
        </div>
      </div>

      <div class="col-md-12">
     
      <div id="myCarousel" class="carousel slide projects-carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                {{map|safe}}                    
              </div>
              <br>
              <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-11">
                  코로나 확진 정보<button name="cst" onclick="show_hide_covid_table();">table</button><button name="bar" onclick="show_hide_covid_bar();">bar chart</button>
                  <br>
                  <table border="1" id="covid_table" style="display: none;">
                    <thead>
                      <tr>
                        <td>country</td>
                        <td>date</td>
                        <td>cases</td>
                        <td>today_cases</td>
                        <td>cases_per_million</td>
                      </tr>

                    </thead>
                    <tbody>

                      {% for a,b,c,d,e in covid_status_list %}
                      <tr>
                        <td>{{ a }}</td>
                        <td>{{ b | date:"Y-m-d"}}</td>
                        <td>{{ c}}</td>
                        <td>{{ d}}</td>
                        <td>{{ e}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    </table>
                    <img id="covid_bar" src="{% static 'attraction/covid_status_bar_chart.png' %}" style="display: none;">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-11">
                  코로나 백신 정보<button name="cvt" onclick="show_hide_vaccine_table();">table</button><button name="bar" onclick="show_hide_vaccine_bar();">bar chart</button>
                  <br>
                  <table border="1" id="vaccine_table" style="display: none;">
                    <thead>
                      <tr>
                        <td>country</td>
                        <td>date</td>
                        <td>vaccinated</td>
                        <td>fully_vaccinated</td>
                        <td>vaccination_rate</td>
                        <td>fully_vaccination_rate</td>
                      </tr>

                    </thead>
                    <tbody>

                      {% for covid_vaccine in covid_vaccine_list %}
                      <tr>
                        <td>{{ covid_vaccine.country }}</td>
                        <td>{{ covid_vaccine.date | date:"Y-m-d"}}</td>
                        <td>{{ covid_vaccine.vaccinated }}</td>
                        <td>{{ covid_vaccine.fully_vaccinated }}</td>
                        <td>{{ covid_vaccine.vaccination_rate }}%</td>
                        <td>{{ covid_vaccine.fully_vaccination_rate }}%</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                <img id="vaccine_bar" src="{% static 'attraction/covid_vaccine_bar_chart.png' %}" style="display: none;">

                  
                </div>
              </div>
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3"> 
                  <br>
                  Wordcloud <button name="wcb" onclick="select_workclode();">조회</button>
                  <table border="1">
                    <tr>
                      <td><input type="checkbox" id="checkAll" onclick="cAll();"></td>
                      <td>All</td>
                    </tr>
                    <tr>
                      <td><input  type="checkbox" name="wcb_checkbox" value="1"></td>
                      <td>Austria</td>
                    </tr>
                    <tr>
                        <td><input  type="checkbox" name="wcb_checkbox" value="2"></td>
                        <td>Belgium</td>
                    </tr>
                    <tr>
                      <td><input  type="checkbox" name="wcb_checkbox" value="3"></td>
                      <td>Czech</td>
                    </tr>
                    <tr>
                      <td><input  type="checkbox" name="wcb_checkbox" value="4"></td>
                      <td>Denmark</td>
                    </tr>
                    <tr>
                      <td><input  type="checkbox" name="wcb_checkbox" value="5"></td>
                      <td>France</td>
                    </tr>
                    <tr>
                      <td><input  type="checkbox" name="wcb_checkbox" value="6"></td>
                      <td>Gemany</td>
                    </tr>
                    <tr>
                      <td><input  type="checkbox" name="wcb_checkbox" value="7"></td>
                      <td>Ireland</td>
                    </tr>
                    <tr>
                      <td><input  type="checkbox" name="wcb_checkbox" value="8"></td>
                      <td>Itary</td>
                    </tr>
                    <tr>
                      <td><input  type="checkbox" name="wcb_checkbox" value="9"></td>
                      <td>Nederland</td>
                    </tr>
                    <tr>
                      <td><input  type="checkbox" name="wcb_checkbox" value="10"></td>
                      <td>Norway</td>
                    </tr>
                    <tr>
                      <td><input  type="checkbox" name="wcb_checkbox" value="11"></td>
                      <td>Portugal</td>
                    </tr>
                    <tr>
                      <td><input  type="checkbox" name="wcb_checkbox" value="12"></td>
                      <td>Spain</td>
                    </tr>
                    <tr>
                      <td><input  type="checkbox" name="wcb_checkbox" value="13"></td>
                      <td>Sweden</td>
                    </tr>
                    <tr>
                      <td><input  type="checkbox" name="wcb_checkbox" value="14"></td>
                      <td>UK</td>
                    </tr>
                    <tr>
                      <td><input  type="checkbox" name="wcb_checkbox" value="15"></td>
                      <td>Croatia</td>
                    </tr>
                    <tr>
                      <td><input  type="checkbox" name="wcb_checkbox" value="16"></td>
                      <td>Greece</td>
                    </tr>
                    <tr>
                      <td><input  type="checkbox" name="wcb_checkbox" value="17"></td>
                      <td>Switzerland</td>
                    </tr>
                    <tr>
                      <td><input  type="checkbox" name="wcb_checkbox" value="18"></td>
                      <td>Iceland</td>
                    </tr>
                    <tr>
                      <td><input  type="checkbox" name="wcb_checkbox" value="19"></td>
                      <td>Poland</td>
                    </tr>

                  </table>
                </div>
                <div class="col-sm-8">
                  <table border="1">
                    <tr id="tr_1" style="display:none;">
                      <td>Austria</td>
                      <td><img id="country_1" src="{% static 'attraction/1_Austria.png' %}"></td>
                    </tr>
                    <tr id="tr_2" style="display:none;">
                      <td>Belgium</td>
                      <td><img id="country_2" src="{% static 'attraction/2_Belgium.png' %}"></td>
                    </tr>
                    <tr id="tr_3" style="display:none;">
                      <td>Czech</td>
                      <td><img id="country_3" src="{% static 'attraction/3_Czech.png' %}"></td>
                    </tr>
                    <tr id="tr_4" style="display:none;">
                      <td>Denmark</td>
                      <td><img id="country_4" src="{% static 'attraction/4_Denmark.png' %}"></td>
                    </tr>
                    <tr id="tr_5" style="display:none;">
                      <td>France</td>
                      <td><img id="country_5" src="{% static 'attraction/5_France.png' %}"></td>
                    </tr>
                    <tr id="tr_6" style="display:none;">
                      <td>Germany</td>
                      <td><img id="country_6" src="{% static 'attraction/6_Germany.png' %}"></td>
                    </tr>
                    <tr id="tr_7" style="display:none;">
                      <td>Ireland</td>
                      <td><img id="country_7" src="{% static 'attraction/7_Ireland.png' %}"></td>
                    </tr>
                    <tr id="tr_8" style="display:none;">
                      <td>Italy</td>
                      <td><img id="country_8" src="{% static 'attraction/8_Italy.png' %}"></td>
                    </tr>
                    <tr id="tr_9" style="display:none;">
                      <td>Nederland</td>
                      <td><img id="country_9" src="{% static 'attraction/9_Nederland.png' %}"></td>
                    </tr>
                    <tr id="tr_10" style="display:none;">
                      <td>Norway</td>
                      <td><img id="country_10" src="{% static 'attraction/10_Norway.png' %}"></td>
                    </tr>
                    <tr id="tr_11" style="display:none;">
                      <td>Norway</td>
                      <td><img id="country_11" src="{% static 'attraction/11_Portugal.png' %}"></td>
                    </tr>
                    <tr id="tr_12" style="display:none;">
                      <td>Spain</td>
                      <td><img id="country_12" src="{% static 'attraction/12_Spain.png' %}"></td>
                    </tr>
                    <tr id="tr_13" style="display:none;">
                      <td>Sweden</td>
                      <td><img id="country_13" src="{% static 'attraction/13_Sweden.png' %}"></td>
                    </tr>
                    <tr id="tr_14" style="display:none;">
                      <td>Spain</td>
                      <td><img id="country_14" src="{% static 'attraction/14_UK.png' %}"></td>
                    </tr>
                    <tr id="tr_15" style="display:none;">
                      <td>Croatia</td>
                      <td><img id="country_15" src="{% static 'attraction/15_Croatia.png' %}"></td>
                    </tr>
                    <tr id="tr_16" style="display:none;">
                      <td>Greece</td>
                      <td><img id="country_16" src="{% static 'attraction/16_Greece.png' %}"></td>
                    </tr>
                    <tr id="tr_17" style="display:none;">
                      <td>Greece</td>
                      <td><img id="country_17" src="{% static 'attraction/17_Switzerland.png' %}"></td>
                    </tr>
                    <tr id="tr_18" style="display:none;">
                      <td>Iceland</td>
                      <td><img id="country_18" src="{% static 'attraction/18_Iceland.png' %}"></td>
                    </tr>
                    <tr id="tr_19" style="display:none;">
                      <td>Poland</td>
                      <td><img id="country_19" src="{% static 'attraction/19_Poland.png' %}"></td>
                    </tr>

                  </table>
                </div>


            </div>
            
            <!--/item-->
        </div>

     </div>



    <!--/myCarousel-->
    </div>



    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© TRS | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="{% static 'attraction/main.70a66962.js' %}"></script></body>

</html>